body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


/* Agrega este estilo al final de tu archivo styles.css */
.game img {
    max-width: 50px; /* Establece el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de aspecto */
}

